body,fieldset,legend {
	background: #fff;
	padding: 0; margin: 0;
}

body {
	background: #000000;
	color: #ffffff;
#	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 0.5em;
  width: 40em ;
  margin-left: auto ;
  margin-right: auto ;
}

header {
	background: #000000;
	color: #ffffff;
#	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2em;
	padding: 0.5em;
	text-align: center;
#	width: 100%;
}

fieldset {
	background: #000000;
#	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 0.5em;
}

legend {
	background: #000000;
	font-color: #ffffff;
	font-size: 1.2em;
}


input {
	height: 2em;
	background: #000000;
	font-color: #ffffff;
	color: #ffffff;
	font-size: 1.2em;
}

			
form#questions {
	background: #000000;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	padding: 1em;
#	width: 96%;
}

#holder {
#	width: 100%;
}

#holder > div {
	clear: both;
	padding: 2%;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	float: left;
#	width: 96%;
}

table {
    width: 100%;
}
.snug {
    width: 1px;
    white-space: nowrap;
}

label {
	display: inline;
}

.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.button-holder {
	float: left;
#	width: 100%;
}

/* RADIO */

.regular-radio, .regular-checkbox {
	display: none;
}

.regular-radio + label, .regular-checkbox + label {
	-webkit-appearance: none;
	background-color: #000000;
	color: #ffffff;
	border: 3px solid #a0a0a0;
#	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 0.5em 1em;
	border-radius: 1em;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after, .regular-checkbox:checked + label:after {
	content: '\2714';
	color: #00fa00;
#	width: 12px;
#	height: 12px;
#	border-radius: 50px;
	position: absolute;
	top: 0em;
#	background: #99a1a7;
#	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
#	text-shadow: 0.1em;
	right: -0.2em;
	font-size: 3em;
}

.regular-radio:checked + label, .regular-checkbox:checked + label {
	background-color: #e0e0e0;
	color: #000000;
	border: 3px solid #e0e0e0;
#	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

#.regular-radio + label:active, .regular-radio:checked + label:active {
#	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
#}

.big-radio + label {
	padding: 16px;
}

.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}

#############################################################

                        .border,
                        .rain{
#                              height: 170px;
#                              width: 320px;
                        }
			/* Layout with mask */
			.rain{
				 padding: 1em;
				 -moz-box-shadow: 10px 10px 10px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
				 -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
				 box-shadow: 8px 8px 8px rgba(0,0,0,1) inset, -9px -9px 8px rgba(0,0,0,1) inset;
				 margin: 1px auto;
				border-radius: 5px;
			}
			/* Artifical "border" to clear border to bypass mask */
			.border{
				padding: 2px;
				-moz-border-radius: 5px;
			        -webkit-border-radius: 5px;
				border-radius: 5px;
			}

			.border,
			.rain,
			.border.start,
			.rain.start{
				background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
				background-position: 0 0, 0 0, 0 0, 0 0;
				/* Blue-ish Green Fallback for Mozilla */
				background-image: -moz-linear-gradient(left, #09BA5E 0%, #00C7CE 15%, #3472CF 26%, #00C7CE 48%, #0CCF91 91%, #09BA5E 100%);
				/* Add "Highlight" Texture to the Animation */
				background-image: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,.3)), color-stop(23%,rgba(0,0,0,.1)), color-stop(40%,rgba(255,231,87,.1)), color-stop(61%,rgba(255,231,87,.2)), color-stop(70%,rgba(255,231,87,.1)), color-stop(80%,rgba(0,0,0,.1)), color-stop(100%,rgba(0,0,0,.25)));
				/* Starting Color */
				background-color: #39f;
				/* Just do something for IE-suck */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BA1B', endColorstr='#00BA1B',GradientType=1 );
			}
			
			/* Non-keyframe fallback animation */
			.border.end,
			.rain.end{
				-moz-transition-property: background-position;  
				-moz-transition-duration: 30s;
				-moz-transition-timing-function: linear;
				-webkit-transition-property: background-position;  
				-webkit-transition-duration: 30s;  
				-webkit-transition-timing-function: linear;
				-o-transition-property: background-position;  
				-o-transition-duration: 30s;  
				-o-transition-timing-function: linear;
				transition-property: background-position;  
				transition-duration: 30s;  
				transition-timing-function: linear;
				background-position: -5400px 0, -4600px 0, -3800px 0, -3000px 0;	
			}
			
			/* Keyfram-licious animation */
			@-webkit-keyframes colors {
			    0% {background-color: #39f;}
			    15% {background-color: #F246C9;}
			    30% {background-color: #4453F2;}
			    45% {background-color: #44F262;}
			    60% {background-color: #F257D4;}
			    75% {background-color: #EDF255;}
			    90% {background-color: #F20006;}
			    100% {background-color: #39f;}
		    }
		    .border,.rain{
			    -webkit-animation-direction: normal;
			    -webkit-animation-duration: 20s;
			    -webkit-animation-iteration-count: infinite;
			    -webkit-animation-name: colors;
			    -webkit-animation-timing-function: ease;
		    }
		    
		    /* In-Active State Style */
			.border.unfocus{
				background: #333 !important;	
				 -moz-box-shadow: 0px 0px 15px rgba(255,255,255,.2);
				 -webkit-box-shadow: 0px 0px 15px rgba(255,255,255,.2);
				 box-shadow: 0px 0px 15px rgba(255,255,255,.2);
				 -webkit-animation-name: none;
			}
			.rain.unfocus{
				background: #000 !important;	
				-webkit-animation-name: none;
			}
