#First things first, so let's start by adding some defaults to our form by resetting 
#the margins and paddings of the elements and adding a default font to the page:

#body{
#   background: #000;
#   color: #DDD; 
#   font-family: 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
#}

html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}
body {
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}


#Next we are going to style the form element that is wrapping our fields:

form#questions {
	background: #9cbc2c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	width: 400px;
}

#We will also remove the border from the fieldset and apply some bottom margin to it.
#Using the :last-of-type pseudo-class, we remove the bottom margin of the last 
#fieldset --  there is no need for it:
form#questions fieldset {
	border: none;
	margin-bottom: 10px;
}
form#questions fieldset:last-of-type {
	margin-bottom: 0;
}

#Next we'll make the legends big and bold, and we will also apply a light-green text-shadow, 
#to add that little extra special detail:

form#questions legend {
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #c0d576;
}

#Our legends are looking great, but how about adding a clear indication of how many steps
#our form has? Instead of adding that manually to every legend,
#we can use automatically generated counters.

#To add a counter to an element, we have to use either the :before or :after pseudo-elements
#to add content via CSS. We will follow these steps:

#    create a counter using the counter-reset property on the form element
#    call the counter with the content property (using the same name ve created before)
#    with the counter-incremet property, indicate that for each element that matches 
#            our selector, that counter will be increased by 1

#form#questions > fieldset > legend:before {
#	content: "Step " counter(fieldsets) ": ";
#	counter-increment: fieldsets;
#}

#Finally, we need to change the style of the legend that is part of the radio buttons group,
#to make it look like a label:

#form#questions fieldset fieldset legend {
#	color: #111111;
#	font-size: 13px;
#	font-weight: normal;
#	padding-bottom: 0;
#}

#For our list elements, we'll just add some nice rounded corners and semi-transparent border
#and background. Because we are using RGBa colors, we should provide a fallback for browsers
#that don't support them (that comes before the RBGa color). For the nested lists,
#we will remove these properties because they would be overlapping:

form#questions ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}
form#questions ol ol li {
	background: none;
	border: none;
	float: left;
}


#Now we only need to style our labels, inputs and the button element.
#
#All our labels will look the same, with the exception of the one for the radio elements.
#We will float them to the left and give them a width.

#For the credit card type labels, we will add an icon as the background,
#and override some of the properties that aren't necessary. We will be using the attribute
#selector to specify the background image for each label --- in this case, we use the for
# attribute of each label.

#To add an extra user-friendly detail, we'll add a cursor: pointer to the radio button
#labels on the :hover state, so the user knows that he can simply click them to select that option.

#form#questions label {
#	float: left;
#	font-size: 13px;
#	width: 110px;
#}
#form#questions fieldset fieldset label {
#	background:none no-repeat left 50%;
#	line-height: 20px;
#	padding: 0 0 0 30px;
#	width: auto;
#}
#form#questions label[for=visa] {
#	background-image: url(visa.gif);
#}
#form#questions label[for=amex] {
#	background-image: url(amex.gif);
#}
#form#questions label[for=mastercard] {
#	background-image: url(mastercard.gif);
#}
form#questions fieldset fieldset label:hover {
	cursor: pointer;
}

#Almost there! Now onto the input elements. Here we want to match all inputs,
#except for the radio ones, and the textarea. For that we will use the negation
#pseudo-class (:not()). With it we can target all input elements except for the ones with type of radio.

#We will also make sure to add some :focus styles and add the appropriate styling for the radio inputs:

form#questions input:not([type=radio]),
form#questions textarea {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	width: 200px;
}
form#questions input:not([type=submit]):focus,
form#questions textarea:focus {
	background: #eaeaea;
}
form#questions input[type=radio] {
	float: left;
	margin-right: 5px;
}

#And finally we come to our submit button. To it, we will just add some nice typography
#and text-shadow, align it to the center of the form and give it some background colors
#for its different states:

form#questions button {
	background: #384313;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	display: block;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}
form#questions button:hover {
	background: #1e2506;
	cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
	vertical-align: middle;
	margin: 0px;
}

label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}


.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* RADIO */

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
	padding: 16px;
}

.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}
